<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" href="index.html" [ngClass]="{highlight: isHighlight}" [ngStyle]="{'font-size.px': fontSize}">conduit</a>
    <input class="form-control form-control-sm search-input" type="text" placeholder="Keyword" [(ngModel)]="keyword">
    <button class="btn btn-sm btn-primary" (click)="buttonClick($event)">
      <i class="ion-search"></i>
    </button>
    <span *ngIf="keyword === ''; else alert" class="highlight">請輸入查詢條件</span>
    <ng-template #alert>
      你輸入的文字是: {{keyword}}
    </ng-template>
  </div>
</nav>
